@model IEnumerable<MvcApplication3.Models.Feedback>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="#" id="submit">Submit</a>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Created
        </th>
        <th>
            Author
        </th>
        <th>
            Message
        </th>
        <th>
            URL
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<!--
<link href="/Content/guava.css" rel="stylesheet" type="text/css" /><div id="guava">
  <div id="sidebar">
    <div id="appTitle">Send Feedback</div>
    <div class="item">
      <span id="guava_count" class="count">?</span>
      <span class="label">New Items</span>
    </div>
  </div>
  <div id="popup" style="display: none;">
    Post a comment or question
    <br />
    <textarea id="guava_content" rows="4" cols="5">YOU SHOULD NEVER SEE THIS!!!</textarea>
    <div style="text-align: right;">
      <input type="button" value="Cancel"  id="guava_cancel"/>
      <input type="button" class="action" value="Post" id="guava_post" />
    </div>
    <div id="triangle"></div>
  </div>
</div>
-->